@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: sans-serif;
}

body
{
     display: flex;
     align-items: center;
     justify-content: center;
     min-height: 100vh;
     background-color: aquamarine;
}
.container{
     display: flex;
     width: 100%;
     max-width: 1000px;
}
section{
     background: #fff;
     border-radius: 15px;
}
.tools-board{
     width: 230px;
     padding: 15px 20px 0;
}
.tools-board .row{
     margin-bottom: 10px ;

}
.row .options{
          list-style: none;
      }
      .row .options .option{
          display: flex;
          cursor: pointer;
          align-items:center;
          margin-bottom: 10px;
      }

.drawing-board{
     flex: 1;
}